Django==1.6.5
#M2Crypto is a requirement for the system, however it requires swig to build it
#This should be handled separately for all virtualenvs.
#M2Crypto==0.22.3
South==0.8.4
argparse==1.2.1
m2secret==0.1.1
wsgiref==0.1.2
