{% extends "home/base.html" %}
<head>
{% block title %}Update User Password{% endblock %}
{% block head_content %}

{{ form.media }}

{% endblock %}
</head>


{% block content %}
<div class="container">
	<div class="row">
        <div class=".col-md-6 .col-md-offset-3">
            <h1>Update Password</h1>
        </div>
    </div>
	<div class="row">
        <div class="col-md-6 col-md-offset-3">

            {% include "home/form_messages.html.include" %}

			<form class="form-horizontal" action="" method="post">{% csrf_token %}
	            {% for field in form.visible_fields %}
	            <div id="div_{{ field.html_name }}"
	                 class="form-group{% if field.errors %} has-error{% endif %}">
	                <label for="id_{{ field.html_name }}" class="col-sm-2 control-label">
	                	{{ field.label }}
	                </label>
	                <div class="col-sm-10">
	                	<div class="col-sm-10">
                        	<input class="form-control" type="password" name="{{ field.html_name }}" id="id_{{ field.html_name }}">
                    	</div>
	                </div>
	                <div class="text-muted pull-right">
	                    <small>{{ field.help_text }}</small>
	                </div>
	            </div>
	          	{% endfor %}
				<div class="form-actions">
	                <button type="submit" class="btn btn-default">Update</button>
	                <a class="btn btn-default" href="/users/{{ user.username }}/update">Cancel</a>
	            </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
