{% extends "home/base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class=".col-md-6 .col-md-offset-3">
                <h1>Account Users</h1>
                <a class="btn btn-primary" href="/users/create">New User</a>
            </div>
        </div>
        <div />
        <table class="table table-hover table-responsive">
            <tr>
                <td class="text-center"><strong>Dailienator Username</strong></td>
                <td class="text-center"><strong>Name</strong></td>
                <td class="text-center"><strong>Email</strong></td>
                <td class="text-center"><strong>Catertrax Username</strong></td>
                <td class="text-center"><strong>Update</strong></td>
                <td class="text-center"><strong>Delete</strong></td>
            </tr>
            {% for accountuser in object_list %}
                <tr>
                    <td>{{ accountuser.username }}</td>
                    <td>{{ accountuser.first_name }} {{ accountuser.last_name}}</td>
                    <td>{{ accountuser.email }}</td>
                    <td>{{ accountuser.catertrax_username }}</td>
                    <td class="text-center"><a href="/users/{{ accountuser.username }}/update">Edit</a></td>
                    <td class="text-center"><a href="/users/{{accountuser.username}}/delete">Delete</a></td>
                </tr>
            {% endfor %}
        </table>

        {% if is_paginated %}
        <nav>
            {% if page_obj.has_previous %}
                <li><a href="/users?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="/users?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </nav>
        {% endif %}
    </div>
{% endblock content %}
