html,
body {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'JAF Domus Titling';
}
p, div {
    font-family: 'JAF Domus Titling';
}

.form-actions {
  text-align: center;
}

.btn {
  margin: 2px;
}